{% extends "base.html" %}

{% block head %}
<script src="https://code.jquery.com/jquery-3.0.0.min.js" integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0=" crossorigin="anonymous"></script>
<script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>

<meta name="google-signin-client_id" content="875793525089-usfohd6fm8n4qm889om9ninrmp0map9f.apps.googleusercontent.com">
{% endblock head %}

{% block title %}Item Catalog{% endblock title %}

{% block content %}

{% if user %}
Welcome, {{user}}!
<a href-"#" onclick="signOut();">Sign out</a>
<a href="/newitem/">New item</a>
{% else %}
Not logged in.
<a href="/login/">Log in</a>
{% endif %}

<script>
function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function() {
        $.get('/gdisconnect', function(data) {
            alert("Logged out successfully.")
        });
    });
}

function onLoad() {
  gapi.load('auth2', function() {
    gapi.auth2.init();
  });
}
</script>

{% for category in categories %}
<a href="/category/{{category.id}}">{{category.name}}</a>
{% endfor %}
{% endblock content %}
