{% extends "base.html" %}

{% block title %}{{item.name}}{% endblock title %}

{% block content %}

{% if item is not none %}

<script>
function deleteItem() {
    $.post('{{url_for('deleteItem', category_id=item.category_id, item_id=item.id)}}', function(data) {
        window.location.href = '/';
    });
}
</script>

<h1>{{item.name}}</h1>
{{item.description}}
{% if user == item.user_id %}
<a href="{{url_for('editItem', category_id=item.category_id, item_id=item.id)}}">Edit</a>
<a href="#" onclick="deleteItem();">Delete</a>
{% endif %}
{% else %}
Item does not exist.
{% endif %}

{% endblock content %}
